body {
    margin: 0px;
}
/*
inline element
*/
a {
    color: gray;
    text-decoration: none;
    /*display:block;*/
}

#active {
    color: blueviolet;
    text-decoration: underline;
}

.saw {
    color: antiquewhite;
}

/*
block level element
*/
h1 {
    border-bottom: aquamarine 5px groove;
    padding: 30px;
    margin: 0px;
    font-size: 60px;
    text-align: center;
}

#grid ol {
    width: 100px;
    margin: 0px;
    padding: 30px;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#text {
    border-left: 5px aquamarine groove;
    padding: 10px;
}

@media(max-width:400px) {
    #grid {
        display:block;
    }
    #text {
        border-left: none;
    }
    h1 {
    border-bottom:none;
    padding: 30px;
    margin: 0px;
    font-size: 40px;
    text-align: center;
    }
}

img {
    width: 1fr;
}